.map-img{
    background-image: url('../images/bg-map.jpg');
    background-size: cover;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.map-text{
    text-align: center;
    font-size: 25px;
    font-family: 'B612', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #f38181;
    margin-top: 40px;
}

.map-box {
    display: none;
    height: 70%;
    width: 80%;
    border: 2px solid #f38181;
    margin-bottom: 20px;
}

iframe{
    height: 100%;
    width: 100%;
}

/* .hide-map{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 156, 156, 0.85);
    opacity: .5;
    cursor: pointer;
    visibility: visible;
}

.hide-map:hover{
    visibility: hidden;
    transition: all ease 0.8s;
} */